*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    margin-top: 150px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: #23242a;
}
.signup{
    width: 370px;
    height: 450px;
    position: relative;
    background: #1c1c1c;
    border-radius: 50px 5px;
    overflow: hidden;
}
.signup::before{
    content: "";
    position: absolute;
    width: 370px;
    height: 450px;
    top: -50%;
    left: -50%;
    background: linear-gradient(60deg,transparent, #43f5ff, #43f5ff);
    transform-origin: bottom right;
    animation: animated 6s linear infinite;
}
.signup::after{
    content: "";
    position: absolute;
    width: 370px;
    height: 450px;
    top: -50%;
    left: -50%;
    background: linear-gradient(60deg, transparent, #d9138a, #d9138a);
    transform-origin: bottom right;
    animation: animated 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animated{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
form{
    position: absolute;
    inset: 2px;
    border-radius: 50px 5px;
    background: #23242a;
    z-index: 10;
    display: flex;
    padding: 30px 30px;
    flex-direction: column;
}
h2{
    text-align: center;
    color: #43f5ff;
    text-transform: uppercase;
    margin: 15px;
}
label{
    color: #d9138a;
    margin: 5px;
    text-transform: capitalize;
    font-size: large;
    font-weight: bold;
}
input{
    text-transform: capitalize;
}
.button{
    border-radius: 5px 2.5px;
    padding: 6px;
    cursor: pointer;
    margin-top: 20px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    background-color: #43f5ff;
}